/* Controls container */
.controls {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Input containers */
.input-container {
  position: relative;
  margin-bottom: 20px;
}

/* Input fields */
.input-field {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  outline: none;
}

/* Autocomplete list */
.autocomplete-list {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 999;
}

.autocomplete-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.autocomplete-item:hover {
  background-color: #f0f0f0;
}

/* Button styles */
.btndiv {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-primary,
.btn-secondary {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #4CAF50;
  color: white;
}

.btn-primary:hover {
  background-color: #45a049;
}

.btn-secondary {
  background-color: #f44336;
  color: white;
}

.btn-secondary:hover {
  background-color: #e53935;
}

/* Info container */
.info-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Info item */
.info-item {
  margin-bottom: 15px;
}

.info-label {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.info-value {
  font-size: 20px;
  color: #333;
  font-weight: 500;
  margin-top: 5px;
  display: block;
}

/* Map container */
.map-container {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
}


/* Loader styles */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
